input {
  background-color: #ECECEC;
  border: none;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin-top: 20px;
  margin-left: 60px;
  font-size: 14px;
  height: 10px;
  box-shadow: #000 2px 2px;
}