form {
  border: 1px solid #000;
  border-radius: 30px;
  margin-left: 100px;
  padding-top: 10px;
  width: 700px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;

}