ul {
  list-style: none;
  position: absolute;
  top: 210px;
  left: 565px;
  width: 500px;
  text-align: left;
}

ul li {
  margin-top: 10px;
  background-color: #CECECE;
  border-radius: 5px;
  width: 530px;
  line-height: 30px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.icon_li {
  margin-right: 10px;
  cursor: pointer;
}